.mainService {
  padding: 50px 0;
}
.topHeader {
  display: flex;
  justify-content: center;
}
.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
}

@media screen and (max-width: 1024px) {
  .services {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .services {
    grid-template-columns: repeat(1, 1fr);
  }
  .mainService {
    padding: 30px 0;
  }
}